<div class="text-left div-bootstrap">
	<h1 class="text-info text-center">{{title}}</h1>
	<blockquote class="blockquote-reverse">
		<p>By failing to prepare, you are preparing to fail</p>
		<footer class="text-success">
			This famous quote is by <cite title="Benjamin Franklin">Benjamin
				Franklin</cite>
		</footer>
	</blockquote>
</div><hr>
<div class="container div-bootstrap">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
               <div class="div-init3 text-danger">ALL Screens</div>			
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 hidden-xs">
               <div class="div-init3 text-info">Medium, Large and Small</div>			
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 visible-lg visible-md">
               <div class="div-init3 text-success text-capitalize">medium and large</div>			
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 visible-lg">
               <div class="div-init3 text-default">Large</div>			
			</div>
		</div>
</div><hr>
<div class="container div-bootstrap">
		<div class="row">
			<div class="col-md-4 col-lg-3 div-init2">
			   <h1 class="text-right">HEADER-1</h1>
			   <h2 class="text-left">HEADER-2</h2>
			   <h3 class="text-center text-lowercase">HEADER-3</h3>
			   <h4 class="text-justify">HEADER-4</h4>
			   <span class="h5 h55">HEADER-5</span><span class="small text-primary">H-5</span>
			   <span class="h6 h66">HEADER-6</span>
			</div>
			<div class="col-md-8 col-lg-9 div-init2">
			  <abbr title="GALLERY">Gallery</abbr>
			  <img alt="Left Side" src="./assets/Penguins.jpg"
		                class="center-block img-thumbnail img-responsive">
			</div>
		</div>
</div>
<hr>
<div class="div-bootstrap">
	<h2 class="text-danger">Bootstrap-List</h2>
	<app-bootstrap-list></app-bootstrap-list>
</div>
<hr>
<div class="div-bootstrap">
	<h2 class="text-danger">Bootstrap-Table</h2>
	<app-bootstrap-table></app-bootstrap-table>
</div>
<hr>
<div class="div-bootstrap">
	<h2 class="text-danger">Bootstrap-Button</h2>
	<app-bootstrap-button></app-bootstrap-button>
</div>
<hr>
<div class="div-bootstrap">
	<h2 class="text-danger">Bootstrap-Icons</h2>
	<app-bootstrap-icons></app-bootstrap-icons>
</div>
<hr>
<div class="div-bootstrap">
	<h2 class="text-danger">Bootstrap-Dropdowns</h2>
	<app-bootstrap-drop></app-bootstrap-drop>
</div>
<hr>
<div class="div-bootstrap">
	<h2 class="text-danger">Bootstrap-Forms</h2>
	<app-bootstrap-form></app-bootstrap-form>
</div>
<hr>

