<div class="text-left">
	<h1 class="text-info text-center">{{title}}</h1>
	<blockquote class="blockquote-reverse">
		<p>By failing to prepare, you are preparing to fail</p>
		<footer class="text-success">
			This famous quote is by <cite title="Benjamin Franklin">Benjamin
				Franklin</cite>
		</footer>
	</blockquote>
</div>
<div>
	<ul class="list-inline">
		<li>India</li>
		<li>USA</li>
		<li>UK</li>
	</ul>
</div>
<div>
	<ul class="list-unstyled text-left text-info">
		<li>India</li>
		<li>USA</li>
		<li>UK</li>
		<li>Nepal<span class="badge">New</span></li>
	</ul>
</div>
<div style="margin: 5px">
	<ul class="list-group">
		<li class="list-group-item">India</li>
		<li class="list-group-item">USA</li>
		<li class="list-group-item">UK</li>
		<li class="list-group-item">Nepal<span class="badge">New</span></li>
	</ul>
</div>
<div style="margin: 5px">
	<div class="list-group">
		<a
			href="https://www.google.co.in/search?site=&source=hp&q=India&oq=India&gs_l=psy-ab.13..35i39k1l2j0i131k1l2.1474.2552.0.4594.6.5.0.0.0.0.186.680.0j4.4.0..2..0...1.1.64.psy-ab..2.4.678.0..0i20k1.RAYf68_XNxE"
			class="list-group-item-danger active" target="_blank">Search
			India In Google</a> <a
			href="https://www.google.co.in/search?q=USA&oq=USA&gs_l=psy-ab.3..0i131k1j0l3.20191.22733.0.23597.8.8.0.0.0.0.180.975.0j6.6.0..2..0...1.1.64.psy-ab..2.6.973.6..35i39k1.12lXcVzYcL8"
			class="list-group-item disabled" target="_blank">Search USA In
			Google</a> <a
			href="https://www.google.co.in/search?q=UK&oq=UK&gs_l=psy-ab.12..0j0i20k1j0i131k1j0.11879.13589.0.19101.5.4.1.0.0.0.170.639.0j4.4.0..2..0...1.1.64.psy-ab..0.5.656.6..35i39k1.UCgJ5sKA8UQ"
			class="list-group-item-success" target="_blank">Search UK In
			Google</a>
		<kbd>CTRL</kbd>
	</div>
</div>
<div class="container table-responsive">
	<div class="row">
		<div class="col-xs-12">
			<div style="margin: 5px">
				<h1 class="text-info">Bootstrap Table-Table Classes</h1>
				<div class="container">
					<div class="row">
						<table class="table">
							<thead>
								<tr>
									<th>S.No</th>
									<th>Name</th>
									<th>City</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01</td>
									<td>David</td>
									<td>Bangalore</td>
								</tr>
								<tr>
									<td>02</td>
									<td>Fernandis</td>
									<td>Chennai</td>
								</tr>
								<tr>
									<td>03</td>
									<td>Marko</td>
									<td>Wyanad</td>
								</tr>
								<tr>
									<td>04</td>
									<td>Julie</td>
									<td>Koonur</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div style="margin: 5px">
				<h1 class="text-info">Bootstrap Stripped-Table Classes</h1>
				<div class="container">
					<div class="row">
						<table class="table-striped">
							<thead>
								<tr>
									<th>S.No</th>
									<th>Name</th>
									<th>City</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01</td>
									<td>David</td>
									<td>Bangalore</td>
								</tr>
								<tr>
									<td>02</td>
									<td>Fernandis</td>
									<td>Chennai</td>
								</tr>
								<tr>
									<td>03</td>
									<td>Marko</td>
									<td>Wyanad</td>
								</tr>
								<tr>
									<td>04</td>
									<td>Julie</td>
									<td>Koonur</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div style="margin: 5px">
				<h1 class="text-info">Bootstrap Bordered-Table Classes</h1>
				<div class="container">
					<div class="row">
						<table class="table-bordered">
							<thead>
								<tr>
									<th>S.No</th>
									<th>Name</th>
									<th>City</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01</td>
									<td>David</td>
									<td>Bangalore</td>
								</tr>
								<tr>
									<td>02</td>
									<td>Fernandis</td>
									<td>Chennai</td>
								</tr>
								<tr>
									<td>03</td>
									<td>Marko</td>
									<td>Wyanad</td>
								</tr>
								<tr>
									<td>04</td>
									<td>Julie</td>
									<td>Koonur</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div style="margin: 5px">
				<h1 class="text-info">Bootstrap Hover-Table Classes</h1>
				<div class="container">
					<div class="row">
						<table class="table-hover">
							<thead>
								<tr>
									<th>S.No</th>
									<th>Name</th>
									<th>City</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01</td>
									<td>David</td>
									<td>Bangalore</td>
								</tr>
								<tr>
									<td>02</td>
									<td>Fernandis</td>
									<td>Chennai</td>
								</tr>
								<tr>
									<td>03</td>
									<td>Marko</td>
									<td>Wyanad</td>
								</tr>
								<tr>
									<td>04</td>
									<td>Julie</td>
									<td>Koonur</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div style="margin: 5px">
				<h1 class="text-info">Bootstrap Condensed-Table Classes</h1>
				<div class="container">
					<div class="row">
						<table class="table-condensed">
							<thead>
								<tr>
									<th>S.No</th>
									<th>Name</th>
									<th>City</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01</td>
									<td>David</td>
									<td>Bangalore</td>
								</tr>
								<tr>
									<td>02</td>
									<td>Fernandis</td>
									<td>Chennai</td>
								</tr>
								<tr>
									<td>03</td>
									<td>Marko</td>
									<td>Wyanad</td>
								</tr>
								<tr>
									<td>04</td>
									<td>Julie</td>
									<td>Koonur</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div style="margin: 5px">
				<h1 class="text-info">Bootstrap All-Table Classes</h1>
				<div class="container">
					<div class="row">
						<table
							class="table table-striped table-bordered table-hover table-condensed">
							<thead>
								<tr class="active">
									<th>S.No</th>
									<th>Name</th>
									<th>City</th>
								</tr>
							</thead>
							<tbody>
								<tr class="success">
									<td>01</td>
									<td>David</td>
									<td>Bangalore</td>
								</tr>
								<tr class="danger">
									<td>02</td>
									<td>Fernandis</td>
									<td>Chennai</td>
								</tr>
								<tr class="info">
									<td>03</td>
									<td>Marko</td>
									<td>Wyanad</td>
								</tr>
								<tr class="warning">
									<td>04</td>
									<td>Julie</td>
									<td>Koonur</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" style="margin: 5px">
	<div class="row" style="background-color: white;">
		<div class="col-xs-12">
			<h1 class="text-info text-center">Bootstrap Button Classes</h1>
			<div class="text-danger"></div>
		</div>
	</div>
</div>