/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
body { 
  background:  url(./assets/dream_one_world.jpg); 
  background-size: cover;
  position: relative;
  min-height: 100%;
}

.div-init{
	margin-top:50px;
	text-align:center;
	min-height:70%;
	background-color: grey;	
}